@using System.Data;

@{

    DataTable dt = ViewBag.PlaylistSongs;


    int cnt = 0;
    foreach (DataRow dr in dt.Rows)
    {
        int cntr = (int)dr["Duration"];

        cnt = cnt + cntr;

    }

}

<div>
        <a asp-area="" asp-controller="Home" asp-action="Playlists">Back</a><br />

        <p>Total Duration: @cnt min</p><br />
    @foreach (DataRow dr in dt.Rows)
    {
        <div style="padding: 20px;margin: 0 auto; display: inline-block; border: 1px; border-style: solid;">
            <h1>@dr["Title"]</h1>
            <p>Artist: @dr["Artist"]</p>
            <p>@dr["Duration"] min</p>
            <p>Genre: @dr["Type"]</p>
            <a asp-area="" asp-controller="Playlist" asp-action="DeleteSongPlaylist" asp-route-id="@dr["ID"]">Delete</a>
        </div>
    } 
</div>