@using System.Data;

@{

    int id = ViewBag.PlaylistID;

    string stringquery = $@"select [Saved_Songs].[ID], [PlaylistID], [Songs].[Title], [Songs].[Artist], [Songs].[Duration], [Genres].[Type] from [Playlists] 
inner join [Saved_Songs] on [Playlists].[ID] = [Saved_Songs].[PlaylistID] 
inner join [Songs] on [Saved_Songs].[SongID] = [Songs].[ID]
inner join [Genres] on [Songs].[GenreID] = [Genres].[ID]
where [Playlists].[ID] = {id}";
    DataTable dt = MPA_Jukebox_Playlist.MPA_Jukebox_Playlist.Models.SqlFunctions.executeSqlGetDataTable(stringquery, "MPA_Jukebox_Playlist");
    int cnt = 0;
    foreach (DataRow dr in dt.Rows)
    {
        int cntr = (int)dr["Duration"];

        cnt = cnt + cntr;

    }

}

<div>
        <a asp-area="" asp-controller="Home" asp-action="Playlists">Back</a><br />

        <p>Total Duration: @cnt min</p><br />
    @foreach (DataRow dr in dt.Rows)
    {
        <div style="padding: 20px;margin: 0 auto; display: inline-block; border: 1px; border-style: solid;">
            <h1>@dr["Title"]</h1>
            <p>Artist: @dr["Artist"]</p>
            <p>@dr["Duration"] min</p>
            <p>Genre: @dr["Type"]</p>
            <a asp-area="" asp-controller="Playlist" asp-action="DeleteSongPlaylist" asp-route-id="@dr["ID"]">Delete</a>
        </div>
    } 
</div>