@using System.Data;

@{

    int id = ViewBag.detailsID;

    DataTable dt = ViewBag.details;

}

@foreach (DataRow dr in dt.Rows)
{
<a asp-area="" asp-controller="Home" asp-action="Songs" asp-route-id="@dr["GenreID"]">Back</a>
<div id="SongDetailsContainer">
    <h2>@dr["Title"]</h2>
    <p>Artist: @dr["Artist"]</p>
    <p>Genre: @dr["Type"]</p>
    <p>Duration: @dr["Duration"] min</p>
</div>
}
